body {
    margin: 0;
  }
 
   .navbar {
    display: flex;
    background-color: rgb(107, 76, 243);
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 20px;
    border-radius: 46px;
  }

  .nav-right {
    text-align: right;
    float: right;
  }

  .nav-right li {
    display: inline;
    float: left;
    padding-left: 15px;
  }

  .nav-right li a {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
  }


.section11{
    background-image: url("https://images.unsplash.com/photo-1614850523060-8da1d56ae167?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870");
    display: block;
    border: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height:250px;
}

.sec-1{
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-watercolor-background_23-2149005675.jpg?w=900&t=st=1653283605~exp=1653284205~hmac=c638d6fd7367c0cf932afb94104bab3ce939b0c7daaba454c3f875f786262e35");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height:550px;
    background-size: 100% 100%;
    float: none;
    width: 100%;
    margin-top: 0px;
    padding: 20px;
}


footer {
  background: rgba(157, 152, 152, 0.952);
  overflow-x: hidden;
  padding: 10vmin 5vmin;
  
}

footer p > span {
  color: #020202;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}
footer.column text{
  border: #020202;
  border: radius 10px;;
}